<%= render "partials/header" %>
<%= render "partials/admin_page_header", title: "New Slider Image", parent_title: "Sliders", parent_path: admin_slider_images_path, back_path: admin_slider_images_path %>

<section class="py-4">
    <div class="container px-5" style="max-width: 900px;">
        <%= render "form", slider_image: @slider_image %>
        <%= link_to "Back to Sliders", admin_slider_images_path, class: "btn btn-link px-0 mt-3" %>
    </div>
</section>

<%= render "partials/footer" %>