<%= render "partials/header" %>
<%= render "partials/admin_page_header", title: "New Article", parent_title: "Articles", parent_path: admin_articles_path, back_path: admin_articles_path %>

<section class="py-4">
    <div class="container px-5" style="max-width: 900px;">
        <%= render "form", article: @article %>
        <%= link_to "Back to Articles", admin_articles_path, class: "btn btn-link px-0 mt-3" %>
    </div>
</section>

<%= render "partials/footer" %>