<%= render "partials/header" %>
<%= render "partials/admin_page_header", title: "New Gallery Group", parent_title: "Gallery Groups", parent_path: admin_gallery_groups_path, back_path: admin_gallery_groups_path %>

<section class="py-4">
    <div class="container px-5" style="max-width: 720px;">
        <%= render "form", gallery_group: @gallery_group %>
        <%= link_to "Back to Groups", admin_gallery_groups_path, class: "btn btn-link px-0 mt-3" %>
    </div>
</section>

<%= render "partials/footer" %>