<%= render "partials/header" %>
<%= render "partials/admin_page_header", title: "New Info Page", parent_title: "Info Pages", parent_path: admin_info_pages_path, back_path: admin_info_pages_path %>

<section class="py-4">
    <div class="container px-5" style="max-width: 900px;">
        <%= render "form", info_page: @info_page %>
        <%= link_to "Back to Info Pages", admin_info_pages_path, class: "btn btn-link px-0 mt-3" %>
    </div>
</section>

<%= render "partials/footer" %>