<%= render "partials/header" %>

<div class="container px-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-6">
            <div class="text-center my-5">
                <h1 class="fw-bolder mb-3">History.</h1>
                <p class="lead fw-normal text-muted mb-4">A Brief History of Immaculate Conception College (I.C.C.), Benin City.</p>
                <a class="btn btn-primary btn-lg" href="#scroll-target">Read our full story</a>
            </div>
        </div>
    </div>
</div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <%= image_tag "slides/statue.webp", class: "img-fluid rounded mb-5 mb-lg-0 w-175" %>
        </div>
    </div>
    </div>
</section>
<div class="row gx-5 align-items-center justify-content-center">
    <div class="col-xl-8 mx-auto">
        <!-- FAQ Accordion 1-->
        <h2 class="fw-bolder mb-3">Our founding</h2>
        <div class="accordion mb-5" id="accordionExample">
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><strong>A Brief History of Immaculate Conception College (I.C.C.), Benin City</strong></button></h3>
                <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>A Brief History of Immaculate Conception College (I.C.C.), Benin City.</strong>
                        <p class="lead fw-normal text-muted mb-0">
                        <div class="accordion-body">
                            <p>
                                Immaculate Conception College (I.C.C.), Benin City was founded in January 1944 by the Late Bishop P. J. Kelly. Its first Principal was Father Andrew O. Rourke (SMA, MA DIP Ed). At inception, thirty boys were admitted and the school operated as a day school. Classes were held at the former Holy Cross School, now the Holy Cross Cathedral, and later at St. Paul’s Seminary, Airport Road. The pioneering teachers were Chief D. N. Oronsaye (Biology) and Father O’Rourke, who also taught other subjects. Father Joseph Stephens became Principal in 1947, followed by Father M. Drew in 1948, Father M. Grace (1949–1951), Father J. Donnelly (1952), and Father Stephens again (1953–1954).
                            </p>
                            <p>
                                Although the school registered its form three students for the Junior Cambridge Examination in 1946, it was not until 1954 that the Ministry of Education approved the Senior Cambridge Examination. Between 1947 and 1953, Bishop Kelly transferred students to St. Patrick’s College, Asaba for the Senior Cambridge. The 1954 intake became the first set of graduates in 1958. Boarding facilities were introduced at St. Paul’s Seminary, leading to the creation of College House (yellow), Mulumba House (green), and Matins de Porres House (blue).
                            </p>
                            <p>
                                Overcrowding at the Seminary led Father Donnelly to negotiate for a new site—25 acres in the eastern suburb of Benin City—with Oba Akenzua II. The Benin Community contributed three hundred pounds towards construction. The school moved to its new site in January 1960, now with boarding facilities.
                            </p>
                            <p>
                                With dedicated staff such as Mr. Emumwen (Vice Principal), Messrs Enemoh, Michael Ojo, Akpom, Osadebey, Esemwan (“Papasi”), Ogieriakhi, Mike Obi, Mrs. Danielson, and Miss Ohalom, the school overcame early challenges and began to excel in sports. Father Donnelly went on leave in 1960, with Fr. Flanagan acting as Principal until Donnelly’s return in 1961. A double stream was introduced, and student population grew. New buildings and science labs were completed. By 1965, I.C.C. was a leader in sports and academics.
                            </p>
                            <p>
                                In 1965, the school began plans for the Higher School Certificate (HSC), admitting its first HSC students in 1966. The population reached about 600. Father Donnelly retired in 1967, succeeded by Father Casey, then Father A. Anglin (1968), and Father P. Thompson (1972). With increased enrollment, Kizito House was added.
                            </p>
                            <p>
                                1972 marked a turning point as the State Government took control of all schools. Father P. Thompson was the transition Principal. On August 1, 1972, Mr. R. O. Asenime became the first Nigerian Principal and the school was renamed Kelly College. Dr. Joseph O. Itotoh took over in 1975, followed by Mr. T. O. Oke (1988), Mr. I. I. Ehigie (1996), Mr. M. Usiomoifo (1999), and Rev. T. Uwagie (2002). In May 2004, the school was returned to the Catholic Mission.
                            </p>
                            <p>
                                Under government control, student and staff numbers exploded, but infrastructure and discipline declined. The 1984 National Policy on Education created Junior and Senior Secondary Schools, increasing enrollment and curriculum demands. Facilities were overstretched, and the boarding system collapsed. Administrative and physical structures were repurposed as classrooms, and discipline suffered. Cultism and indiscipline became rampant, and academic and extracurricular achievements declined.
                            </p>
                            <p>
                                The Old Boys Association (ICCOBA) intervened, focusing on infrastructure rehabilitation and returning the school to the Catholic Mission. The Association restored the school’s name and built a new library, with books donated by the Benin Branch. The library was commissioned in 1992. Sports equipment and science tools were donated, and new facilities were constructed by various alumni branches. The 1972 set built a Virgin Mary statue at the school’s roundabout.
                            </p>
                            <p>
                                Working with Archbishop P. E. Ekpu, ICCOBA lobbied for the school’s return. Despite resistance, Governor Lucky Igbinedion handed the school back to the Catholic Mission in 2004. Staff and students were redistributed, and Rev. Fr. Dr. Isaac Prest Ebeigbe was appointed Principal. The Archbishop formed a committee with Old Boys to rehabilitate infrastructure and recruit staff. I.C.C. reopened in October 2004 with new intakes, marking a new era for the college.
                            </p>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- FAQ Accordion 2-->
        <h2 class="fw-bolder mb-3">Principals</h2>
        <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2"><strong>Principals of Immaculate Conception College (1944 to date)</strong></button></h3>
                <div class="accordion-collapse collapse show" id="collapseOne2" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                        <table class="table table-bordered table-striped align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col"><i class="bi bi-person-fill"></i> Principal</th>
                                    <th scope="col">Years</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. Andrew O’Rourke</td>
                                    <td><i class="bi bi-calendar"></i> 1944 – 1947</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. Joseph Stephens</td>
                                    <td><i class="bi bi-calendar"></i> 1947 – 1948</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. M. Drew</td>
                                    <td><i class="bi bi-calendar"></i> 1948 – 1949</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. M. Grace</td>
                                    <td><i class="bi bi-calendar"></i> 1949 – 1951</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. J Donnelly</td>
                                    <td><i class="bi bi-calendar"></i> 1952 – 1953</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. H Jones</td>
                                    <td><i class="bi bi-calendar"></i> 1953 – 1957</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. J. Donnelly</td>
                                    <td><i class="bi bi-calendar"></i> 1957 – 1960</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. D. Flanagan</td>
                                    <td><i class="bi bi-calendar"></i> 1960 – 1961</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. J. Donnelly</td>
                                    <td><i class="bi bi-calendar"></i> 1961 – 1967</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. J. Casey</td>
                                    <td><i class="bi bi-calendar"></i> 1968 – 1969</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. A. Anglin</td>
                                    <td><i class="bi bi-calendar"></i> 1969 – 1971</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. P. Thompson</td>
                                    <td><i class="bi bi-calendar"></i> 1971 – 1972</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Mr. R. O. Asenime</td>
                                    <td><i class="bi bi-calendar"></i> 1973 – 1975</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Dr. J. O. Itotoh</td>
                                    <td><i class="bi bi-calendar"></i> 1975 – 1987</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Mr. T. O. Oke</td>
                                    <td><i class="bi bi-calendar"></i> 1987 – 1994</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Mr. I. I. Ehigie</td>
                                    <td><i class="bi bi-calendar"></i> 1994 – 1999</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Mr. M. Usiomoifo</td>
                                    <td><i class="bi bi-calendar"></i> 1999 – 2000</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Dr. R. I. Uwagie</td>
                                    <td><i class="bi bi-calendar"></i> 2000 – 2004</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. Dr. Isaac Prest Ebeigbe</td>
                                    <td><i class="bi bi-calendar"></i> 2004 – 2005</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Very Rev. Fr. Cyril Ikechukwu Ofoegbe</td>
                                    <td><i class="bi bi-calendar"></i> 2005 – 2014</td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-person-fill"></i> Rev. Fr. Anthony Ekhaisomi</td>
                                    <td><i class="bi bi-calendar"></i> 2014 – Date</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%
=begin%>

<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><%= image_tag "slides/image.png", class: "img-fluid rounded mb-5 mb-lg-0" %></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Growth &amp; beyond</h2>
                <p class="lead fw-normal text-muted mb-0">Immaculate Conception College (ICC), Benin City, experienced a major revival after its return to the Catholic Mission in 2004. With the appointment of Rev. Fr. Dr. Isaac Prest Ebeigbe as Principal, and strong support from the Old Boys Association (ICCOBA), the school began a new era of academic and moral restoration.

                    Since reopening in October 2004, ICC has steadily rebuilt its reputation, starting with new intakes into JSS1, JSS2, and SS1. The Catholic Archdiocese, working closely with alumni, spearheaded the recruitment of qualified teachers and the renovation of key facilities. Notable contributions include:

                    A fully equipped library,

                    Science lab equipment from NDDC,

                    A modern gate complex, sports equipment, and statues symbolising the school’s Catholic identity

                    Today, ICC continues to grow, with renewed focus on discipline, academic excellence, and spiritual values—reclaiming its legacy as one of Nigeria’s most respected secondary schools.

                    .</p>
            </div>
        </div>
    </div>
</section>
<%
=end%>


<!-- Team members section-->
<%
=begin%>
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our Principals</h2>
            <p class="lead fw-normal text-muted mb-5">Principals of Immaculate Conception College (1944 to date)</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <%= image_tag "https://dummyimage.com/150x150/ced4da/6c757d", class: "img-fluid rounded-circle mb-4 px-4" %>
                    <h5 class="fw-bolder">Ibbie Eckart</h5>
                    <div class="fst-italic text-muted">Year &amp; Position Held</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <%= image_tag "https://dummyimage.com/150x150/ced4da/6c757d", class: "img-fluid rounded-circle mb-4 px-4" %>
                    <h5 class="fw-bolder">Arden Vasek</h5>
                    <div class="fst-italic text-muted">Year &amp; Position Held</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <%= image_tag "https://dummyimage.com/150x150/ced4da/6c757d", class: "img-fluid rounded-circle mb-4 px-4" %>
                    <h5 class="fw-bolder">Toribio Nerthus</h5>
                    <div class="fst-italic text-muted">Year &amp; Position Held</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <%= image_tag "https://dummyimage.com/150x150/ced4da/6c757d", class: "img-fluid rounded-circle mb-4 px-4" %>
                    <h5 class="fw-bolder">Malvina Cilla</h5>
                    <div class="fst-italic text-muted">Year &amp; Position Held</div>
                </div>
            </div>
        </div>
    </div>
</section>
<%
=end%>


</main>
<!-- Footer-->
<%= render "partials/footer" %>

</html>