<%= render "partials/header" %>
<!-- Page Content-->
<div class="container px-5">
    <h1 class="fw-bolder fs-5 mb-4"></h1>
    <div class="card border-0 shadow rounded-3 overflow-hidden">
        <div class="card-body p-0">
            <div class="row gx-0">
                <div class="col-lg-6 col-xl-5 py-lg-5">
                    <div class="p-4 p-md-5">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                        <div class="h2 fw-bolder">ICCOBAUK/EUROPE ANNUAL CONVENTION 2025</div>
                        <p>Get ready for the ICCOBAUK/EUROPE ANNUAL CONVENTION 2025, where ICCOBITES from all over the UK and Europe come together for a weekend</p>
                        <a class="stretched-link text-decoration-none" href="<%= blog_post_path %>">
                            Read more
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7">
                    <div class="bg-featured-blog" style="background-image: url('<%= asset_path("convention2025.png") %>')"></div>

                    <%= %>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-xl-8">
                <h2 class="fw-bolder fs-5 mb-4">News</h2>
                <!-- News item-->
                <div class="mb-4">
                    <div class="small text-muted">Jan 15, 2025</div>
                    <a class="link-dark" href="#!">
                        <h3>ICCOBA UK & Europe announces Annual Convention 2025 in Coventry</h3>
                    </a>
                </div>
                <!-- News item-->
                <div class="mb-5">
                    <div class="small text-muted">sept 10, 2025</div>
                    <a class="link-dark" href="#!">
                        <h3>Worldwide ICCOBA President makes generous contribution ahead of 2025 convention</h3>
                    </a>
                </div>
                <!-- News item-->
                <div class="mb-5">
                    <div class="small text-muted">Nov 2, 2024</div>
                    <a class="link-dark" href="#!">
                        <h3>ICCOBA UK welcomes new leadership, building on a legacy of growth</h3>
                    </a>
                </div>

                <div class="text-end mb-5 mb-xl-0">
                    <a class="text-decoration-none" href="#!">
                        More news comming soon
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 h-100">
                    <div class="card-body p-4">
                        <div class="d-flex h-100 align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">Contact</div>
                                <p class="text-muted mb-4">
                                    For press inquiries, email us at
                                    <br />
                                    <a href="#!">company@llw-cs.com</a>
                                </p>
                                <div class="h6 fw-bolder">Follow us</div>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder fs-5 mb-4">Featured Stories</h2>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <%= image_tag "gallery/2018convention/cc20183.jpg", class: "card-img-top", alt: "..." %>
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                        <a class="text-decoration-none link-dark stretched-link" href="<%= blog_post4_path %>">
                            <div class="h5 card-title mb-3">Beyond Tribal Enclaves: Embracing a Culture of Growth</div>
                        </a>
                        <p class="card-text mb-0">The dangers of insularity and narrow thinking in tribal enclaves cannot be overstated. Nigerians in the diaspora, particularly members of our ICCOBA community, must recognise the transformative power of diversity.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <%= image_tag "gallery/small/cc20186small50.jpg", class: "rounded-circle me-3", alt: "Kelly Rowan" %>
                                <div class=" small">
                                    <div class="fw-bold">Louis Ubebe</div>
                                    <div class="text-muted">March 12, 2025 &middot; 6 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0 position-relative">
                    <%= image_tag "gallery/media.jpg", class: "card-img-top", alt: "..." %>
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                        <a class="stretched-link text-decoration-none link-dark" href="https://youtu.be/Y5g1zXs7Yt4?si=DBgMO5j5vJPZY2VB" target="_blank">
                            <div class="h5 card-title mb-3">ICCOBA Class of ’94 UK Chapter: Summer Family Day 2025</div>
                        </a>
                        <p class="card-text mb-0">The UK chapter of ICCOBA Class of 1994 presents its Summer Family Day 2025 on Saturday, 21st June, from 3 to 10 p.m. at The Atrium, 99 Hawkno Road, NG5 IQZ. The event will feature the inauguration of a new expo, awards for excellence and leadership, and live entertainment with DJ Jet Play, Nice Flow, digital/PS5 games, couples’ games, and dance competitions. Members are requested to wear white on black suits. The event will also be livestreamed on YouTube and Zoom.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <%= image_tag "logo/logosmall40.png", class: "rounded-circle me-3", alt: "ICCOBAUK CHAPTER" %>
                                <div class="small">
                                    <div class="fw-bold">ICCOBA UK</div>
                                    <div class="text-muted">March 23, 2025 &middot; 4 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <%= image_tag "gallery/advert.jpg", class: "card-img-top", alt: "..." %>
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <div class="h5 card-title mb-3">ICCOBA UK Advertisement Placement</div>
                        </a>
                        <p class="card-text mb-0">Promote your business or service with ICCOBAUK! Our platforms reach a wide network of alumni and community members across the UK and Europe. Place your adverts with us today and gain visibility within a trusted community. For rates and enquiries, contact ICCOBAUK Media.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <%= image_tag "logo/logosmall40.png", class: "rounded-circle me-3", alt: "..." %>
                                <div class="small">
                                    <div class="fw-bold">ICCOBA Worldwide</div>
                                    <div class="text-muted">April 2, 2025 &middot; 10 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end mb-5 mb-xl-0">
            <a class="text-decoration-none" href="#!">
                More stories
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
</main>
<!-- Footer-->
<%= render "partials/footer" %>