<!DOCTYPE html>
<html lang="en">

<%= render "partials/header" %>
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Convention 2025</h1>
                    <p class="lead fw-normal text-muted mb-0">Get ready for the ICCOBAUK 2025 Convention, an extraordinary event set to bring alumni together on a grand scale. Attendees will enjoy inspiring sessions, engaging activities, and unique opportunities to reconnect with classmates and the wider ICC community.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-12"><%= image_tag "gallery/2025convention/feature_bg.png", class: "img-fluid rounded-3 mb-5", alt: "...1300x700" %></div>
            <div class="col-lg-6"><%= image_tag "gallery/2018convention/cc20183.jpg", class: "img-fluid rounded-3 mb-5", alt: "...600x400" %></div>
            <div class="col-lg-6"><%= image_tag "gallery/2018convention/cc20184.jpg", class: "img-fluid rounded-3 mb-5", alt: "...600x400" %></div>
            <div class="col-lg-6"><%= image_tag "gallery/2018convention/cc20185.jpg", class: "img-fluid rounded-3 mb-5", alt: "...600x400" %></div>
            <div class="col-lg-6"><%= image_tag "gallery/2018convention/cc20186.jpg", class: "img-fluid rounded-3 mb-5", alt: "...600x400" %></div>
            <div class="col-lg-6"><%= image_tag "gallery/2018convention/cc20187.jpg", class: "img-fluid rounded-3 mb-5", alt: "...600x400" %></div>
            <div class="col-lg-6"><%= image_tag "gallery/2018convention/cc20181.jpg", class: "img-fluid rounded-3 mb-5", alt: "...600x400" %></div>
            <div class="col-lg-6"><%= image_tag "gallery/2018convention/cc20182.jpg", class: "img-fluid rounded-3 mb-5", alt: "...600x400" %></div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-muted">This convention promises to celebrate achievements, strengthen networks, and showcase the vibrant spirit of ICCOBAUK. Don’t miss your chance to be part of this milestone gathering, creating memories that will last a lifetime.</p>
                    <a class="text-decoration-none" href="#!">
                        View more photos
                        <i class="bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<!-- Footer-->
<%= render "partials/footer" %>

</html>