<%= form_with model: [ :admin, gallery_image ] do |form| %>
<% if gallery_image.errors.any? %>
<div class="alert alert-danger">
    <h2 class="h6 mb-2"><%= pluralize(gallery_image.errors.count, "error") %> prevented saving:</h2>
    <ul class="mb-0">
        <% gallery_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
</div>

<div class="mb-3">
    <%= form.label :caption, class: "form-label" %>
    <%= form.text_area :caption, rows: 3, class: "form-control" %>
</div>

<div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control", accept: "image/*" %>
</div>

<%= form.submit class: "btn btn-primary" %>
<% end %>