<%= render "partials/header" %>
<%= render "partials/admin_page_header", title: "New Gallery Image", parent_title: "Gallery Images", parent_path: admin_gallery_images_path, back_path: admin_gallery_images_path %>

<section class="py-4">
    <div class="container px-5" style="max-width: 900px;">
        <%= render "form", gallery_image: @gallery_image %>
        <%= link_to "Back to Gallery", admin_gallery_images_path, class: "btn btn-link px-0 mt-3" %>
    </div>
</section>

<%= render "partials/footer" %>